#   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-
#  / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \
# `-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'
#
#               Example environment configuration
#
#   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-
#  / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \
# `-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'
# By default, the examples support both mnemonic-based and private key-based authentication
#
# You don't need to set both of these values, just pick the one that you prefer and set that one
MNEMONIC=
PRIVATE_KEY=0xFbC66bD8466f7B7628fD32F8a8C07f3976c73979
RPC_URL_SEPOLIA=https://rpc.sepolia.org
RPC_URL_ROOTSTOCK_TESTNET=rpc.testnet.rootstock.io/TnukxR92yfQ6D2xnCa5jcEBkqBRZaK-T
ETHERSCAN_API_KEY=VNBD12EENKQ9RU1XTSMQTUTDC2FN9I2SA3